footer {
    
}
.nav{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin: auto;
    width: 50%;
    margin-right: 4rem;
    justify-content: end;
    padding-bottom: .5rem;
}
.anchor{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin: auto;
    width: 50%;
    margin-right: 4rem;
    justify-content: end;
    padding-bottom: .5rem;
}
.gracias{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}